.active {
  color: rgba(239, 214, 57, 0.836);
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  margin-bottom: 24px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  gap: 24px;
  width: 100%;
  background-color: #87b58f;
  padding: 10px 20px;
  z-index: 1000;
  font-size: 24px;
  align-items: center;
}

/*194a28 */

.artista {
  margin-left: auto;
}
